<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dwitter</title>
</head>
<body>
    <h1>Create a New Dweet</h1>
    <form action="/dweet" method="post">
        {% csrf_token %}
        <textarea name="dweet" cols="30" rows="10" placeholder="Write something"></textarea>
        <button type="submit">Dweet!</button>
    </form>
</body>
</html>