<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Dwitter</title>
  {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'dwitter_styles.css' %}">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="crossorigin="anonymous" />
</head>

<body>
  <!-- sidebar starts -->
  <div class="sidebar">
    <i class="fab fa-twitter"></i>
    <div class="sidebarOption active">
      <span class="material-icons"> home </span>
      <a href="" style="text-decoration: none; color: inherit;">
        <h2>Home</h2>
      </a>
    </div>

    <div class="sidebarOption">
      <span class="material-icons"> perm_identity </span>
      <a href="" style="text-decoration: none; color: inherit;">
        <h2>Profile</h2>
      </a>
    </div>

    <div class="sidebarOption">
      <span class="material-icons"> more_horiz </span>
      <h2>More</h2>
    </div>
    <button class="sidebar__tweet">Dweet</button>
  </div>
  <!-- sidebar ends -->

  <!-- feed starts -->
  <div class="feed">
    <div class="feed__header">
      <h2>Home</h2>
    </div>

    <!-- tweetbox starts -->
    <div class="tweetBox">
      <form action="/dweet" method="post">
          {% csrf_token %}
        <div class="tweetbox__input">
          <img src="https://i.pinimg.com/originals/a6/58/32/a65832155622ac173337874f02b218fb.png" alt="" />
          <input type="text" name="dweet" placeholder="What's happening?" />
        </div>
        <button class="tweetBox__tweetButton">Dweet</button>
      </form>
    </div>
    <!-- tweetbox ends -->

    <!-- post starts -->
    <div class="post">
      <div class="post__avatar">
        <img src="https://i.pinimg.com/originals/a6/58/32/a65832155622ac173337874f02b218fb.png" alt="" />
      </div>

      <div class="post__body">
        <div class="post__header">
          <div class="post__headerText">
            <h3>UserName</h3>
          </div>
          <div class="post__headerDescription">
            <p>This is a test for dweet</p>
            <p>tweeted at Time</p>
          </div>
        </div>
      </div>
    </div>
    <!-- post ends -->
  
  </div>
  <!-- feed ends -->

  <!-- widgets starts -->
  <div class="widgets">
    <div class="widgets__input">
      <span class="material-icons widgets__searchIcon"> search </span>
      <input type="text" placeholder="Search Dwitter" />
    </div>

    <div class="widgets__widgetContainer">
      <h2>Suggestions</h2>
      <blockquote>
        <div>
          <h1>hello</h1>
        </div>
      </blockquote>
    </div>
  </div>
  <!-- widgets ends -->
</body>

</html>