<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Dwitter</title>
  {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'dwitter_styles.css' %}">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="crossorigin="anonymous" />
</head>

<body>
  <!-- sidebar starts -->
  <div class="sidebar">
    <i class="fab fa-twitter"></i><a href="/" style="font-size:xx-large">Dwitter</a>
    <div class="sidebarOption active">
      <span class="material-icons"> home </span>
      <a href="/" style="text-decoration: none; color: inherit;">
        <h2>Home</h2>
      </a>
    </div>

    <div class="sidebarOption">
      <span class="material-icons"> perm_identity </span>
      {% comment %} Fix This user profile link {% endcomment %}
      <a href="profile" style="text-decoration: none; color: inherit;">
        <h2>Profile</h2>
      </a>
    </div>

    <div class="sidebarOption">
      <span class="material-icons"> more_horiz </span>
      <h2>More</h2>
    </div>
    <a href="logout">
      <button class="sidebar__tweet">LogOut</button>
    </a>
  </div>
  <!-- sidebar ends -->

  <!-- feed starts -->
  <div class="feed">
    <div class="feed__header">
      <h2>Following</h2>
    </div>

    {% if user_following < 1%}
      <h1>Not following anyone at the moment</h1>
    {% else %}
      {% for user in following %}
        <!-- post starts -->
        <div class="post">
          <div class="post__avatar">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQeeUl9IZDN97pBQNgeunx6dD1df-4g7vkPFw&usqp=CAU" alt="">
            {% comment %} <img src="https://i.pinimg.com/originals/a6/58/32/a65832155622ac173337874f02b218fb.png" alt="" /> {% endcomment %}
          </div>

          <div class="post__body">
            <div class="post__header">
              <div class="post__headerText">
                <a href="user/{{user.user_id}}">
                    <h3>{{user.user_id}}</h3>
                </a>
                <h3>{{user.bio}}</h3>
              </div>
              <div class="post__headerDescription">
                {% comment %} <p>{{dweet.dweet}}</p>
                <p>{{dweet.time}}</p> {% endcomment %}
              </div>
            </div>
          </div>
        </div>
        <!-- post ends -->
      {% endfor %}
    {% endif %}

    
  
  </div>
  <!-- feed ends -->

  <!-- widgets starts -->
  <div class="widgets">
    <div class="widgets__input">
      <span class="material-icons widgets__searchIcon"> search </span>
      <input type="text" placeholder="Search Dwitter" />
    </div>

    <div class="widgets__widgetContainer">
      <h1>Profile</h1>
      <blockquote>
        <h1 style="font-weight: 400;">Name: {{user_name}}</h1 style="font-weight: 400;">
          <a href="../followers">
            <h1 style="font-weight: 400;">Followers : {{user_followers}}</h1 style="font-weight: 400;">
          </a>
          <a href="../following">
            <h1 style="font-weight: 400;">Following : {{user_following}}</h1 style="font-weight: 400;">
          </a>
          <h1 style="font-weight: 400;">Bio :{{user_bio}}</h1 style="font-weight: 400;">
      </blockquote>
    </div>
  </div>
  <!-- widgets ends -->
</body>

</html>