<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Dwitter</title>
  {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'dwitter_styles.css' %}">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="crossorigin="anonymous" />
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
</head>

<body>
  <!-- sidebar starts -->
  <div class="sidebar">
    <i class="fab fa-twitter"></i><a href="/" style="font-size:xx-large">Dwitter</a>
    <div class="sidebarOption active">
      <span class="material-icons"> home </span>
      <a href="/" style="text-decoration: none; color: inherit;"><h2>Home</h2></a>
    </div>

    <div class="sidebarOption">
      <span class="material-icons"> perm_identity </span>
      <a href="user/{{user_name}} " style="text-decoration: none; color: inherit;"><h2>Profile</h2></a>
    </div>

    <div class="sidebarOption">
      <span class="material-icons"> more_horiz </span>
      <h2>More</h2>
    </div>
    <a href="logout">
      <button class="sidebar__tweet">LogOut</button>
    </a>
  </div>
  <!-- sidebar ends -->

  <!-- feed starts -->
  <div class="feed">
    <div class="feed__header">
      <h2>Home</h2>
    </div>

    <!-- tweetbox starts -->
    <div class="tweetBox">
      <form action="/dweet" method="post">
          {% csrf_token%}
        <div class="tweetbox__input">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQeeUl9IZDN97pBQNgeunx6dD1df-4g7vkPFw&usqp=CAU" alt="">
          <input type="text" name="dweet" autocomplete="off" placeholder="What's happening?" maxlength="70"/>
          <br>
        </div>
        <p style="display: none; margin-left: 10px;" id="par">Characters Left: <span id="characters"></span></p>
        <script>
          $('input').keyup(updateCount);
          $('input').keydown(updateCount);
          function updateCount() {
            $('#par').css("display","inline");
            var cs = $(this).val().length;
            var str = cs+'/'+(70-cs);
            $('#characters').text(str);
          }
        </script>
        <button class="tweetBox__tweetButton">Dweet</button>
      </form>
    </div>
    <!-- tweetbox ends -->    

    {% if len_dweets < 1%}
    <h3>No Dweets To Show</h3>
    <p>Follow some Users...</p>
    {% endif %}


    {% for dweet in dweets %}
        <!-- post starts -->
        <div class="post">
            <div class="post__avatar">
              <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQeeUl9IZDN97pBQNgeunx6dD1df-4g7vkPFw&usqp=CAU" alt="">
            </div>
    
            <div class="post__body">
            <div class="post__header">
                <div class="post__headerText">
                  <a href="user/{{dweet.user_id}}">
                    <h3>{{dweet.user_id}}</h3>
                  </a>
                </div>
                <div class="post__headerDescription">
                <h3>{{dweet.dweet}}</h3>
                <p>Dweeted at {{dweet.time}}</p>
                </div>
            </div>
            </div>
        </div>
        <!-- post ends -->
    {% endfor %}

  </div>
  <!-- feed ends -->

  <!-- widgets starts -->
  <div class="widgets">
    <div class="widgets__input">
      <span class="material-icons widgets__searchIcon"> search </span>
      <input type="text" placeholder="Search Dwitter" />
    </div>

    <div class="widgets__widgetContainer">
      <h1 style="font-weight: 600;">Suggestions</h1>
      <blockquote>
        <div>
          <ul>
              {% for suggestion in suggestions %}
              <li>
                <a href="user/{{suggestion.user}}">
                  <h1 style="font-weight: 200;">{{suggestion.user}}</h1>
                </a>
              </li>
              {% endfor %}
          </ul>
        </div>
        <h3 style="font-weight:300; text-decoration: underline;"><a href="suggestions">Show all...</a></h3>
        
      </blockquote>
    </div>
  </div>
  <!-- widgets ends -->
</body>

</html>