<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dwitter</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
</head>
<body>
    <h2>Dwitter</h2>
<div class="container" id="container">
	<div class="form-container sign-up-container">
		<form action="/register" method="post">
            {% csrf_token %}
			<h1>Create Account</h1>
			<input type="text" name="name_r" placeholder="Name" required autocomplete="off"/>
			<input type="password" name="password_r" placeholder="Password" required autocomplete="off"/>
			<input type="text" name="bio" placeholder="Bio"  autocomplete="off"/>
			<button type="submit">Sign Up</button>
		</form>
	</div>
	<div class="form-container sign-in-container">
		<form action="/login" method="post">
            {% csrf_token %}
			<h1>Log in</h1>
			<input type="text" name="name" placeholder="Name" required autocomplete="off"/>
			<input type="password" name="password" placeholder="Password" required autocomplete="off"/>
			<button type="submit">Log In</button>
		</form>
	</div>
	<div class="overlay-container">
		<div class="overlay">
			<div class="overlay-panel overlay-left">
				<h1>Hello, Friend!</h1>
				<p>Enter your details and start journey with us</p>
				<button class="ghost" id="signIn">Log In</button>
			</div>
			<div class="overlay-panel overlay-right">
				<h1>Welcome Back!</h1>
				<p>To keep connected with us please login with your personal info</p>
				<button class="ghost" id="signUp">Sign Up</button>
			</div>
		</div>
	</div>
</div>

<script src="{% static 'index.js' %}"></script>
</body>
</html>